// Here you can add other styles

.error-message {
    color: $form-feedback-invalid-color;
}

.navbar-brand {
    background-size: contain;
}

.navbar-nav {
    .nav-link {
        font-size: 12px;

        .fa {
            font-size: 30px;
        }
    }
}

.table-responsive {
    text-align: center;
}

.loading {
    background-image: url('../img/loading.gif');
    width: 64px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    text-indent: -9999px;
}
@include media-breakpoint-down(sm) {
    .main {
        .container-fluid {
            padding: 0 10px;
        }
    }
}
