// Here you can add other styles

.invalid-color {
    color: $form-feedback-invalid-color;
    font-weight: bold;
}

.sidebar .nav .nav-item.nav-dropdown > ul .nav-link {
    padding-left: 50px;
}

.Select.form-control {
    border: 0;
    padding: 0;
    text-align: left;
}
.table-resposive{
    overflow: hidden;
}
.view-data {
    label {
        font-weight: bold;
    }
}

.dropdown-menu a {
    text-decoration: none;
}

.loading {
    background-image: url('../img/loading.gif');
    width: 64px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    text-indent: -9999px;
}
@include media-breakpoint-down(sm) {
    .main {
        .container-fluid {
            padding: 0 10px;
        }
    }
}

/*Loading view*/
.app-login {
    .app-body {
        margin-top: 0;
        height: 93vh;
        overflow: hidden;

        .main {
            margin-left: 0;
        }
    }

    .app-footer {
        margin-left: 0;
        height: 7vh;
        overflow: hidden;
    }
}

.numeral{
    width: 40px;
    text-align: center;
}
