// Here you can add other styles
.error-message {
    color: $form-feedback-invalid-color;
}
.Select.form-control {
    border: 0;
    padding: 0;
    text-align: left;
}
.view-data {
    label {
        font-weight: bold;
    }
}
.dropdown-menu a {
    text-decoration: none;
}

.loading {
    background-image: url('../img/loading.gif');
    width: 64px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    text-indent: -9999px;
}

@include media-breakpoint-down(sm) {
    .main {
        .container-fluid {
            padding: 0 10px;
        }
    }
}

.app-login {
    .app-body {
        margin-top: 0;
        height: 93vh;
        overflow: hidden;

        .main {
            margin-left: 0;
        }
    }

    .app-footer {
        margin-left: 0;
        height: 7vh;
        overflow: hidden;
    }
}
